<!-- signatures/templates/signatures/signature_form.html -->
{% extends "base.html" %} {% load static %} {% block extra_head %}
<script src="{% static 'signatures/js/signature-pad-js.js' %}"></script>
{% endblock extra_head %} {% block content %}
<form method="post" action="{% url 'signature_result' %}">
  {% csrf_token %}

  <div>
    <label for="name">Name</label>

    <input type="text" id="name" name="name" required />
  </div>

  <div>
    <label for="signature">Signature</label>

    <canvas id="signature" width="600" height="304"></canvas>
  </div>

  <div>
    <button type="button" id="clearSignature">Clear</button>

    <button type="submit">Submit</button>

    <input type="hidden" name="signature" id="signatureData" />
  </div>
</form>

<script type="text/javascript">
  const signature = signaturePad("signature", "clearSignature");

  const form = document.querySelector("form");

  form.addEventListener("submit", function (event) {
    event.preventDefault();

    const data = signature.toDataURL();

    document.querySelector("#signatureData").value = data;

    form.submit();
  });
</script>
{% endblock content %}
